$foreground: #ffffff;
$background: #030303;
$erase-foreground-color: #333333;
$erase-background-color: #222222;

$accent: #44ff00;
$accent-dark: #33c000;
$accent-light: #88ff5c;

$work-color: #ff003d;
$contact-color: #ff2e00;
$about-color: #ff9900;
$blog-color: #0077ff;
