.work-content.animate-out-about {
  .content {
    animation: transition-left 800ms ease-in-out 200ms forwards;
  }
}
.work-content.animate-in-about {
  .content {
    animation: transition-left 800ms ease-in-out 200ms forwards reverse;
  }
}
.work-content.animate-out-contact {
  .content {
    animation: transition-right 800ms ease-in-out 200ms forwards;
  }
}
.work-content.animate-in-contact {
  .content {
    animation: transition-right 800ms ease-in-out 200ms forwards reverse;
  }
}
