@import "base";
@import "animations";

.work-content.animate-out-about {
  .content {
    @include transition-left-out;
  }
}
.work-content.animate-in-about {
  .content {
    @include transition-left-in;
  }
}
.work-content.animate-out-contact {
  .content {
    @include transition-right-out;
  }
}
.work-content.animate-in-contact {
  .content {
    @include transition-right-in;
  }
}

.work-content .page-content {
  a {
    color: $work-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .project {
    display: flex;
    gap: 16px;
    margin-bottom: 64px;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    svg {
      max-width: 100%;
      height: auto;
    }

    .project-description {
      h3 {
        margin: 0;
      }
      p {
        margin-top: 0;
      }

      .white-link {
        color: white;
        font-weight: normal;
      }
    }
  }
}
