@import "base";

.terminal {
  flex: 1;
  cursor: text;
  outline: none;

  .hidden-input {
    max-width: 1px;
    max-height: 1px;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: -1;
  }

  @media (max-width: 1300px) {
    display: none;
  }

  .terminal-content {
    position: fixed;
    padding: 8px;
    background: #191919;
    height: 100%;
    width: calc(100% - 1200px);

    @media (max-width: 1700px) {
      width: calc(100% - 1000px);
    }

    @media (max-width: 1450px) {
      width: calc(100% - 900px);
      width: 900px;
    }
  }

  .user-input {
    color: #ccc;
    white-space: pre-wrap;

    &::before {
      content: "$> ";
      font-weight: bold;
    }

    .cursor-block {
      color: transparent;
      border: solid 1px #ccc;
    }

    span {
      border: transparent solid 1px;
      margin: 0 -1px;
    }

    span.highlighted {
      border: solid 1px #ccc;
    }
  }

  .user-input.index::before {
    color: $accent;
  }

  .user-input.work::before {
    color: $work-color;
  }

  .user-input.about::before {
    color: $about-color;
  }

  .user-input.contact::before {
    color: $contact-color;
  }
}

@keyframes blink-cursor {
  0%,
  50% {
    background: transparent;
    border-color: transparent;
    color: #cccccc;
  }
  51%,
  100% {
    background: #cccccc;
    border-color: #cccccc;
    color: #191919;
  }
}

.user-input.focused {
  .cursor-block {
    background: #cccccc;
  }

  span.highlighted {
    background: #cccccc;
    color: #191919;
  }
}

.user-input.blink {
  .cursor-block {
    background: #cccccc;
    animation: blink-cursor 1500ms step-end infinite;
  }

  span.highlighted {
    animation: blink-cursor 1500ms step-end infinite;
    background: #cccccc;
    color: #191919;
  }
}
