@keyframes erase-animation-cover {
  0% {
    width: 0;
  }
  100% {
    width: 900px;
  }
}

@keyframes erase-animation-clip {
  0% {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    color: transparent;
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
    color: transparent;
  }
}

@mixin erase-animation($position: relative, $duration: 1000ms) {
  position: $position;
  animation: erase-animation-clip $duration cubic-bezier(0.5, 0, 0.5, 1)
    calc($duration / 2 + 200ms) forwards;

  &::after {
    position: absolute;
    z-index: 1;
    background: #222;
    width: 0;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    content: "";
    animation: erase-animation-cover $duration cubic-bezier(0.5, 0, 0.5, 1)
      200ms forwards;
  }
}

.animate-out .erase-animation {
  @include erase-animation;
}

@keyframes transition-left {
  0% {
    transform: translateX(0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  100% {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    transform: translateX(100%);
  }
}

@keyframes transition-right {
  0% {
    transform: translateX(0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
