@import "base";

@keyframes erase-animation-cover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes appear-animation-unclip {
  0% {
    clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 0);
  }
  100% {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

@keyframes appear-animation-uncover {
  0% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes erase-animation-clip {
  0% {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    color: transparent;
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
    color: transparent;
  }
}

@mixin erase-animation($position: relative, $duration: 500ms) {
  position: $position;
  animation: erase-animation-clip $duration cubic-bezier(0.5, 0, 0.5, 1)
    calc($duration + 200ms) forwards;

  &::after {
    position: absolute;
    z-index: 1;
    background: $erase-foreground-color;
    width: 0;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    content: "";
    animation: erase-animation-cover $duration cubic-bezier(0.5, 0, 0.5, 1)
      200ms forwards;
  }
}

@mixin erase-animation-reverse(
  $position: relative,
  $duration: 500ms,
  $extra-delay: 0ms
) {
  position: $position;
  animation-name: appear-animation-unclip;
  animation-duration: $duration;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-delay: calc(200ms + $extra-delay);
  animation-fill-mode: forwards;
  clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 0);

  &::after {
    position: absolute;
    z-index: 1;
    background: $erase-foreground-color;
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    content: "";
    animation-name: appear-animation-uncover;
    animation-duration: $duration;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-delay: calc(200ms + $duration + $extra-delay);
    animation-fill-mode: forwards;
  }
}

.animate-out .erase-animation {
  @include erase-animation;
}

.animate-in .erase-animation-reverse {
  @include erase-animation-reverse;
}

@keyframes transition-left {
  0% {
    transform: translateX(0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  100% {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    transform: translateX(100%);
  }
}

@mixin transition-left-out($duration: 800ms, $delay: 200ms) {
  transform: translateX(0);
  animation: transition-left 800ms ease-in-out 200ms forwards;
}

@mixin transition-left-in($duration: 800ms, $delay: 200ms) {
  transform: translateX(100%);
  animation: transition-left 800ms ease-in-out 200ms reverse backwards;
}

@keyframes transition-right {
  0% {
    transform: translateX(0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
    transform: translateX(-100%);
  }
}

@mixin transition-right-out($duration: 800ms, $delay: 200ms) {
  transform: translateX(0);
  animation: transition-right 800ms ease-in-out 200ms forwards;
}

@mixin transition-right-in($duration: 800ms, $delay: 200ms) {
  transform: translateX(-100%);
  animation: transition-right 800ms ease-in-out 200ms reverse backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
