@import "base";

.layout-content {
  display: flex;
  height: 100%;

  .content {
    position: relative;
    width: 1200px;

    @media (max-width: 1700px) {
      width: 1000px;
    }
    @media (max-width: 1450px) {
      width: 900px;
    }
    @media (max-width: 1300px) {
      width: 100%;
    }
  }
}

.animate-in-unknown .content {
  opacity: 0;
  animation: fade-in 300ms ease-out forwards;
}

.animate-out-unknown .content {
  opacity: 1;
  animation: fade-out 300ms ease-out forwards;
}
