:root {
  --foreground-rgb: 0, 0, 0;
  --background: #ffffff;

  --text-block-bg: #ddddddcc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: #0a0a0a;

    --text-block-bg: #171717cc;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  background: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

a {
  color: #dd0000;

  &:hover {
    color: #ff0000;
  }
}

* {
  box-sizing: border-box;
}
