@import "base";
@import "animations";

html {
  height: 100%;
  min-height: fit-content;
}

body {
  color: $foreground;
  margin: 0;
  background: $background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  min-height: fit-content;

  &::-webkit-scrollbar {
    width: 4px;
    background: $background;
  }

  &::-webkit-scrollbar-track {
    background: $background;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground;
  }
}

a {
  color: $accent;

  &:hover {
    color: $accent-light;
  }
}

* {
  box-sizing: border-box;
}

.work-color {
  color: $work-color;
}
.work-bg {
  background: $work-color;
}

.contact-color {
  color: $contact-color;
}
.contact-bg {
  background: $contact-color;
}

.about-color {
  color: $about-color;
}
.about-bg {
  background: $about-color;
}
