:root {
  --foreground: #ffffff;
  --background: #0e0e0e;
}

body {
  color: var(--foreground);
  margin: 0;
  background: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &::-webkit-scrollbar {
    width: 8px;
    background: #000;
    position: absolute;
  }

  &::-webkit-scrollbar-track {
    background: var(--background);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--foreground);
  }
}

a {
  color: #dd0000;

  &:hover {
    color: #ff0000;
  }
}

* {
  box-sizing: border-box;
}
