@import "base";
@import "animations";

.page-header {
  --header-background-height: 64px;
  --header-background-top-offset: 12px;
  --header-height: 88px; // 64px + 12px + 12px
  --font-size: 96px;
  --home-transition-height: 128px;

  @media (max-width: 900px) {
    --header-background-height: 42px;
    --header-background-top-offset: 8px;
    --header-height: 58px; // 42px + 8px + 8px
    --font-size: 64px;
    --home-transition-height: 96px;
  }
  @media (max-width: 600px) {
    --header-background-height: 32px;
    --header-background-top-offset: 6px;
    --header-height: 44px; // 32px + 6px + 6px
    --font-size: 48px;
    --home-transition-height: 128px;
  }
}

.page-header {
  position: relative;
  display: grid;
  grid-template-columns: 100px auto 100px;
  z-index: 1;
  max-height: var(--header-height);

  @media (max-width: 600px) {
    grid-template-columns: 0 auto 0;
  }

  > h1 {
    line-height: 1;
    margin: 0;
    color: $background;
    font-size: var(--font-size);
    text-align: center;
    height: var(--header-height);
    grid-column: 2;
  }

  .page-header-button-right,
  .page-header-button-left {
    margin: auto 0;
    color: white;
    text-decoration: none;

    @media (max-width: 600px) {
      position: absolute;
      top: 100%;
    }
  }

  .page-header-button-right {
    text-align: right;
    margin-right: 24px;
    @media (max-width: 600px) {
      right: 0;
    }
  }

  .page-header-button-left {
    margin-left: 24px;
    @media (max-width: 600px) {
    }
  }

  .page-header-background {
    position: absolute;
    top: var(--header-background-top-offset);
    height: var(--header-background-height);
    width: 100%;
    z-index: -1;
  }

  .page-header-home-button {
    position: absolute;
    z-index: 1;

    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    text-decoration: none;

    @media (max-width: 900px) and (min-width: 601px) {
      top: 120%;
    }
  }
}

@keyframes page-header-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-in-index {
  .page-header {
    opacity: 0;
    animation: page-header-appear 200ms linear 2000ms forwards;
  }
}

@keyframes page-header-shrink {
  0% {
    height: var(--header-background-height);
    top: var(--header-background-top-offset);
  }
  100% {
    top: 0;
    height: 0;
  }
}
@keyframes page-header-expand {
  0% {
    height: 0;
    background: $accent;
  }
  100% {
    height: var(--home-transition-height);
    background: $accent;
  }
}
@keyframes page-header-disappear {
  0% {
    height: var(--home-transition-height);
    top: 0;
  }
  100% {
    top: var(--home-transition-height);
    height: 0;
  }
}

.animate-out-index {
  .page-header-home-button {
    @include erase-animation(absolute, 300ms);
  }
  .page-header-button-right,
  .page-header-button-left {
    @include erase-animation(relative, 300ms);

    @media (max-width: 600px) {
      position: absolute;
    }
  }

  .page-header {
    .page-header-background {
      animation-name: page-header-shrink, page-header-expand,
        page-header-disappear;
      animation-duration: 300ms;
      animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
      animation-fill-mode: forwards;
      animation-delay: 700ms, 1100ms, 1300ms;
    }

    > h1 {
      animation: fade-out 0ms forwards;
      animation-delay: 1000ms;
    }
  }
}
