@import "animations";
@import "base";

.about-content.animate-out-work {
  .content {
    @include transition-right-out;
  }
}

.about-content.animate-in-work {
  .content {
    @include transition-right-in;
  }
}

.about-content.animate-out-contact {
  .content {
    @include transition-left-out;
  }
}

.about-content.animate-in-contact {
  .content {
    @include transition-left-in;
  }
}

.about-content .page-content {


  .general-info {
    display: flex;
    gap: 16px;

    .profile-photo {
      height: 256px;
      width: 256px;
      border: solid 1px white;
    }

    .stats {
      display: grid;
      gap: 16px;
      grid-template-columns: auto auto;
      grid-auto-rows: auto;

      p {
        margin: 0;
      }

      h3 {
        margin: 0;
        font-size: 1rem;
      }

      >button {
        grid-column: 1 / span 2;
        border: none;
        border-radius: 0;
        background: $about-color;
        color: white;
        font-size: 16px;
        padding: 8px 0;
        font-weight: bold;
        cursor: pointer;

      }
    }

  }

  .about-section {
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}