@keyframes test-out {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100vw);
    }
}

@keyframes test-in {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

.test-content {
    .content {
        background: #171717cc;
        width: 1200px;
        margin: 32px auto;
        padding: 32px;
        transition: 500ms;
        animation: test-in 500ms ease-in forwards;
    }
}

.animate-out.test-content {
    .content {
        animation: test-out 500ms ease-out forwards;
    }
}