@keyframes test-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes test-in {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes test-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes test-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.test-content {
  overflow: hidden;
  max-width: 100%;

  .content {
    background: var(--text-block-bg);
    max-width: 100%;
    width: 1200px;
    margin: 32px auto;
    padding: 32px;

    h1 {
      margin-top: 0;
    }
  }
}

.animate-in-index.test-content {
  .content {
    transform: translateX(100vw);
    animation: test-in 800ms ease-out forwards;
    animation-delay: 200ms;
  }
}

.animate-out-index.test-content {
  .content {
    transform: translateX(0);
    animation: test-out 800ms ease-out forwards;
    animation-delay: 200ms;
  }
}

.animate-out-unknown.test-content {
  .content {
    opacity: 1;
    animation: test-fade-out 800ms ease-out forwards;
    animation-delay: 200ms;
  }
}

.animate-in-unknown.test-content {
  .content {
    opacity: 0;
    animation: test-fade-in 800ms ease-out forwards;
    animation-delay: 200ms;
  }
}
