@keyframes test-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes test-in {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

.test-content {
    overflow: hidden;

    .content {
        background: #171717cc;
        max-width: 100%;
        width: 1200px;
        margin: 32px auto;
        padding: 32px;

        h1 {
            margin-top: 0;
        }
    }
}

.animate-in-index.test-content {
    .content {
        transform: translateX(-100vw);
        animation: test-in 800ms ease-out forwards;
        animation-delay: 200ms;
    }
}

.animate-out.test-content {
    .content {
        transform: translateX(0);
        animation: test-out 800ms ease-out forwards;
        animation-delay: 200ms;
    }
}