@keyframes home-out {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes home-in {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

.main-content {
    overflow: hidden;

    .content {
        background: #171717cc;
        width: 1200px;
        margin: 32px auto;
        padding: 32px;
        transition: 500ms;
        animation: home-in 500ms ease-in forwards;
    }
}

.animate-out.main-content {
    .content {
        animation: home-out 500ms ease-out forwards;
    }
}